{% extends 'layout.html' %}

{% block body %}
<div class="margint60 blue bigpadding">
    <div class="_10container">
        <div class="div-block-70">
            <div class="div-block-71">
                <h1 class="heading-18">We bring real world applications into the <span
                        class="text-span-10">classroom</span>.</h1>
                <div class="text-block-110"><strong>The first affordable and innovative experiential learning provider,
                        aligned with the national curriculum, in Cambodia. </strong></div>
            </div>
            <div id="w-node-8ddde11fd8d1-111880b8" class="div-block-72">
                <div class="div-block-73"><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98576546308bba28502fd3_5f685a109fe5f00d69089413_IMG20200726145519-01.jpeg"
                        loading="lazy"
                        sizes="(max-width: 479px) 100vw, (max-width: 767px) 36vw, (max-width: 991px) 19vw, 20vw"
                        srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98576546308bba28502fd3_5f685a109fe5f00d69089413_IMG20200726145519-01-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98576546308bba28502fd3_5f685a109fe5f00d69089413_IMG20200726145519-01-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98576546308bba28502fd3_5f685a109fe5f00d69089413_IMG20200726145519-01-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98576546308bba28502fd3_5f685a109fe5f00d69089413_IMG20200726145519-01-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98576546308bba28502fd3_5f685a109fe5f00d69089413_IMG20200726145519-01.jpeg 3000w"
                        alt="" class="image-18"><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min.jpeg"
                        loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 19vw, 20vw"
                        srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min-p-2600.jpeg 2600w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9876287421765bfaa5cd3a_IMG_20200726_143807-01-min.jpeg 4000w"
                        alt="" class="image-20"></div>
            </div>
        </div>
    </div>
</div>
<div class="margint60">
    <div class="_10container">
        <h3 class="heading-19">Get an <span class="text-span-11">experiential project-based learning</span> in your
            science program in 3 steps</h3>
        <div class="div-block-63">
            <div class="div-block-64">
                <div class="div-block-76">
                    <div class="div-block-77"></div><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose.jpg"
                        loading="lazy"
                        sizes="(max-width: 479px) 90vw, (max-width: 767px) 39vw, (max-width: 991px) 25vw, 27vw"
                        srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose-p-2600.jpeg 2600w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose-p-3200.jpeg 3200w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f986d9cc748aae4b836059f_choose.jpg 4000w"
                        alt="" class="image-16">
                </div>
                <div class="text-block-111">1</div>
                <div class="div-block-65 yellow">
                    <div class="text-block-107">Select the learning topic</div>
                </div>
            </div>
            <div class="div-block-64">
                <div class="div-block-76">
                    <div class="div-block-77 blue"></div><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98702dbf451193a1276729_artboard_1.jpg"
                        loading="lazy"
                        sizes="(max-width: 479px) 90vw, (max-width: 767px) 39vw, (max-width: 991px) 25vw, 26vw"
                        srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98702dbf451193a1276729_artboard_1-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98702dbf451193a1276729_artboard_1.jpg 800w"
                        alt="" class="image-16">
                </div>
                <div class="text-block-111 blue">2</div>
                <div class="div-block-65 blue">
                    <div class="text-block-107">Order the kits</div>
                </div>
            </div>
            <div class="div-block-64">
                <div class="div-block-76">
                    <div class="div-block-77 red">
                        <div class="text-block-111 red">3</div>
                    </div><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f9870ea32429f2230f15d54_hype.jpg"
                        loading="lazy" alt="" class="image-16">
                </div>
                <div class="div-block-65 red">
                    <div class="text-block-107"><strong>You're set!</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="margint60">
    <div class="_10container">
        <p class="paragraph-5">How can KlemBox help you confidently experience the real world context in your lessons in
            STEM? Watch our video to learn more about everything KlemBox has to offer.</p>
        <div class="div-block-74">
            <!-- <div class="div-block-75">
                <div style="padding-top:56.17021276595745%" id="w-node-75e4c0d8edd0-111880b8"
                    class="w-embed-youtubevideo youtube"><iframe
                        src="https://www.youtube.com/embed/48YQYWbrzGc?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0"
                        frameborder="0"
                        style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                        allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
                        
            </div> -->
            <div class="plyr__video-embed" id="player" style="width: 80%;">
                <iframe
                    src="https://www.youtube.com/embed/48YQYWbrzGc?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                    allowfullscreen allowtransparency allow="autoplay"></iframe>
            </div>
        </div>


    </div>
</div>

<div class="margint60">
    <div class="_10container">
        <h3 class="heading-14">Our Partners</h3>
        <div class="div-block-78"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea6be2393c24e3f8ca_Bluetribe%2BLogos%2B%25282%2529.jpg"
                loading="lazy" width="231"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea6be2393c24e3f8ca_Bluetribe%2BLogos%2B%25282%2529-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea6be2393c24e3f8ca_Bluetribe%2BLogos%2B%25282%2529-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea6be2393c24e3f8ca_Bluetribe%2BLogos%2B%25282%2529-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea6be2393c24e3f8ca_Bluetribe%2BLogos%2B%25282%2529.jpg 1500w"
                sizes="(max-width: 479px) 42vw, (max-width: 991px) 24vw, 230.98959350585938px" alt=""><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600806fb6c16b908a41de121_undp%20(1).png"
                loading="lazy" width="156" id="w-node-e424074467b5-111880b8" alt=""><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea4269797b43f6c8af_khmerEnterprise.png"
                loading="lazy" width="265"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea4269797b43f6c8af_khmerEnterprise-p-500.png 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea4269797b43f6c8af_khmerEnterprise-p-800.png 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea4269797b43f6c8af_khmerEnterprise.png 2236w"
                sizes="(max-width: 479px) 42vw, (max-width: 767px) 24vw, 25vw" alt=""><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea975f102ccaba318e_energylab.png"
                loading="lazy" width="187"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea975f102ccaba318e_energylab-p-500.png 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea975f102ccaba318e_energylab-p-800.png 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea975f102ccaba318e_energylab.png 1000w"
                sizes="(max-width: 479px) 41vw, (max-width: 991px) 24vw, 186.9965362548828px" alt=""><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea4fd1b3f5547f52d5_Logo_Liger_Leadership%20Academy%202020.png"
                loading="lazy" width="207"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea4fd1b3f5547f52d5_Logo_Liger_Leadership%20Academy%202020-p-500.png 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ea4fd1b3f5547f52d5_Logo_Liger_Leadership%20Academy%202020.png 813w"
                sizes="(max-width: 479px) 42vw, (max-width: 991px) 24vw, 206.9965362548828px"
                id="w-node-a1d724822f9a-111880b8" alt=""><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600804ebf994c4123538f903_stem.png"
                loading="lazy" width="176" id="w-node-6a1179f2d740-111880b8" alt=""></div>
    </div>
    <div class="div-block-79"><a target="new"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfYJmlbsj5QuSEvoDfIj4319Snq2C2HieTlG9wPBLcrdKaj7Q/viewform?usp=sf_link">
            <div class="bluebox">Become our partner</div>
        </a></div>
</div>
<div class="margint60 blue bigpadding">
    <div class="_10container">
        <div class="div-block-70">
            <div class="div-block-71">
                <h1 class="heading-18"><strong>Unleash your inner</strong> <span class="text-span-10"><strong>rock
                            star</strong></span>!</h1>
                <div class="text-block-112"><strong class="bold-text">We believe children who learn to think
                        scientifically will be the most prepared to lead rich, fulfilling lives as adults and citizens.
                        Looking to save money and give your students/kids the "wow" factor in learning? Our kits are
                        perfect: they come with everything you need to prepare for the fast growing world.</strong>
                </div>
            </div>
            <div id="w-node-b512d078bde3-111880b8" class="div-block-72">
                <div class="div-block-73"><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f985e234c50720b4fd92abf__JCL0384-01-min.jpeg"
                        loading="lazy"
                        sizes="(max-width: 479px) 100vw, (max-width: 767px) 36vw, (max-width: 991px) 19vw, 20vw"
                        srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f985e234c50720b4fd92abf__JCL0384-01-min-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f985e234c50720b4fd92abf__JCL0384-01-min-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f985e234c50720b4fd92abf__JCL0384-01-min-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f985e234c50720b4fd92abf__JCL0384-01-min.jpeg 3717w"
                        alt="" class="image-18"><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98601fd245594fd39ab5ec_IMG20201027144245-01-min.jpeg"
                        loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 19vw, 20vw"
                        srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98601fd245594fd39ab5ec_IMG20201027144245-01-min-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98601fd245594fd39ab5ec_IMG20201027144245-01-min-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98601fd245594fd39ab5ec_IMG20201027144245-01-min-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98601fd245594fd39ab5ec_IMG20201027144245-01-min-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f98601fd245594fd39ab5ec_IMG20201027144245-01-min.jpeg 2448w"
                        alt="" class="image-20"></div>
            </div>
        </div>
    </div>
</div>
<div class="margint60">
    <div class="_10container">
        <h3 class="heading-14">Explore Our Kits</h3>
    </div>
    <div class="_10container">
        <div class="w-layout-grid grid">
            <a href="{{ url_for('product', kit='electro') }}" class="link-block w-inline-block">
                <div class="div-block-46">
                    <div class="div-block-47"><img
                            src="https://uploads-ssl.webflow.com/5fc560888aae314ab030f312/5fc5624039335f8d456214a1_Electro-min-p-1080.jpeg"
                            loading="lazy" sizes="(max-width: 479px) 90vw, 199.84376525878906px" alt=""
                            class="image-13">
                        <div class="div-block-48">
                            <div class="text-block-96">NEW</div>
                        </div>
                    </div>
                    <div class="div-block-49">
                        <div class="text-block-97">LIGHT UP!</div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('product', kit='hydro') }}">


                <div class="div-block-46">
                    <div class="div-block-47"><img
                            src="https://uploads-ssl.webflow.com/5fc560888aae314ab030f312/5fc562406abc59352fcc0254_hydro-min-p-1600.jpeg"
                            loading="lazy" alt="" class="image-13">
                        <div class="div-block-48">
                            <div class="text-block-96">NEW</div>
                        </div>
                    </div>
                    <div class="div-block-49">
                        <div class="text-block-97">PLANT THE SEEDS!</div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('product', kit='foldscope') }}">
                <div class="div-block-46">
                    <div class="div-block-47"><img
                            src="https://uploads-ssl.webflow.com/5fc560888aae314ab030f312/5fc562400120d536b2d585da_cell-min-p-1080.jpeg"
                            loading="lazy" alt="" class="image-13">
                        <div class="div-block-48">
                            <div class="text-block-96">NEW</div>
                        </div>
                    </div>
                    <div class="div-block-49">
                        <div class="text-block-97">CELL AND MICROSCOPE</div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('product', kit='energy') }}">
                <div class="div-block-46">
                    <div class="div-block-47"><img
                            src="https://uploads-ssl.webflow.com/5fc560888aae314ab030f312/6007e10e2d5efccec8a3179a_energy%20solar-min.JPG"
                            loading="lazy" alt="" class="image-13">
                        <div class="div-block-48">
                            <div class="text-block-96">NEW</div>
                        </div>
                    </div>
                    <div class="div-block-49">
                        <div class="text-block-97">CLEAN ENERGY</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="margint60">
    <div class="_10container">
        <h3 class="heading-14">Components in Each Box Purchase</h3>
        <p>A kit alone is not complete. So, we provide you with an easy access to lesson plans, educator guides,
            activities, troubleshooting tips, and customizable handouts for different grades, subjects, and learning
            pathways.</p>
        <div class="div-block-66">
            <div id="w-node-c47b8de3c78f-111880b8" class="div-block-67">
                <div class="text-block-113">Materials for Hands-On Kits</div>
            </div>
            <div id="w-node-1148f946f297-111880b8" class="div-block-67">
                <div class="text-block-113">Interactive Digital Resources</div>
            </div>
            <div id="w-node-3fece41d7340-111880b8" class="div-block-67">
                <div class="text-block-113">Units and Lessons</div>
            </div>
            <div id="w-node-ebfe936e12f3-111880b8" class="div-block-67">
                <div class="text-block-113">Community Projects</div>
            </div>
        </div>
    </div>
</div>
<div class="margint60 blue bigpadding">
    <div class="_10container">
        <div class="learningdoing">
            <h1 class="heading-18"><strong>Learning by</strong> <span class="text-span-10"><strong
                        class="bold-text-2">doing</strong></span>!&nbsp;&nbsp;&nbsp;</h1><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600a3e8bc1fdded71e8d594f_KLEM%20white.PNG"
                loading="lazy" width="188"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600a3e8bc1fdded71e8d594f_KLEM%20white-p-500.png 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600a3e8bc1fdded71e8d594f_KLEM%20white-p-800.png 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/600a3e8bc1fdded71e8d594f_KLEM%20white.PNG 984w"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 38vw, 187.98611450195312px"
                id="w-node-23e55b4e86be-111880b8" alt="" class="image-22">
        </div>
        <div class="doubt">
            <div id="w-node-8060bcc88691-111880b8" class="still">
                <h1 class="heading-18"><strong class="bold-text-3">Still have</strong> <span
                        class="text-span-10"><strong class="bold-text-2">doubts</strong></span>?&nbsp;&nbsp;&nbsp;</h1>
                <div class="text-block-112"><strong>No Problem! Just contact us through our service channels.</strong>
                </div>
            </div>
            <div id="w-node-8060bcc8869d-111880b8" class="div-block-72">
                <div class="div-block-58"><a href="https://api.whatsapp.com/send?phone=85581225255"
                        class="socialmedialink custom w-inline-block"><img
                            src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5fac324ecc4e22e96c4f9dd5_whatsappfill.png"
                            loading="lazy" width="40" alt=""></a><a href="https://t.me/SinoeunSamnang"
                        class="socialmedialink custom w-inline-block"><img
                            src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5fac31a625e486df4b23c051_telegramfill.png"
                            loading="lazy" width="40" alt=""></a><a href="https://www.facebook.com/klemcambodia/"
                        class="socialmedialink custom w-inline-block"><img
                            src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f95d3c5419b8c910272644c_facebook2.png"
                            loading="lazy" width="40" alt=""></a><a href="https://www.instagram.com/klemcambodia/"
                        class="socialmedialink custom w-inline-block"><img
                            src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f95d12a3e883e5b278c628d_instagram.png"
                            loading="lazy" width="40" alt=""></a><a href="mailto:samnang@klembox.com"
                        class="socialmedialink custom w-inline-block"><img
                            src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5fac32fa9f249ad811c15838_mailfill.png"
                            loading="lazy" width="40" alt=""></a></div>
            </div>
        </div>
        <div class="bottomspace"></div>
    </div>
</div>


<script>
    const player = new Plyr('#player');
    player.source = {
        type: 'video',
        sources: [{
            src: 'VTZUzKMT3Jg',
            provider: 'youtube',
        }, ],
    };
</script>
{% endblock %}

