{% extends 'layout.html' %}

{% block body %}
<div class="margint60">
    <div class="standard-container">
        <div class="headerdiv homepage"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy.jpg"
                loading="lazy" sizes="90vw"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy.jpg 1600w"
                alt="" class="headerimage homepage">
            <h1 class="headertext homepage">Learning by Doing</h1>
        </div>
    </div>
</div>
<div class="margint60 tabsection">
    <div class="standard-container">
        <div data-duration-in="300" data-duration-out="100" class="w-tabs">
            <div class="tabs-menu w-tab-menu" role="tablist"><a data-w-tab="Tab 1"
                    class="tab-link-tab-3 grade7 w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0"
                    href="#w-tabs-0-data-w-pane-0" onclick="openCity(event, 'grade7')"  role="tab" aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true">
                    <div>Grade 7</div>
                </a><a data-w-tab="Tab 2" onclick="openCity(event, 'grade8')" class="tab-link-tab-3 grade8 w-inline-block w-tab-link"
                    id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                    aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false" tabindex="-1">
                    <div>Grade 8</div>
                </a><a data-w-tab="Tab 3" onclick="openCity(event, 'grade9')" class="tab-link-tab-3 grade9 w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-2"
                    href="#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2"
                    aria-selected="false" tabindex="-1">
                    <div>Grade 9</div>
                </a></div>
            <div class="w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active" id="grade7" role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
                    <div class="div-block-16">
                        <a href="/subject"><div id="w-node-e2226e3dc675-ca1880be" class="gradeblock yellow"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9349d4ef044db43b3_biology.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">BIOLOGY</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-e2226e3dc679-ca1880be" class="gradeblock yellow"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9324107147d4290e1_chemistry.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">CHEMISTRY</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-e2226e3dc67d-ca1880be" class="gradeblock yellow"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e2026b6101da11f44f9a8_math.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">MATH</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-e2226e3dc681-ca1880be" class="gradeblock yellow"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9885c4b02cc8390a5_physics.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">PHYSICS</div>
                        </div>
                        </a>
                    </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane" id="grade8" role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-1">
                    <div class="div-block-16">
                        <a href="/subject"><div id="w-node-292101991e17-ca1880be" class="gradeblock blue"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9349d4ef044db43b3_biology.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">BIOLOGY</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-292101991e1b-ca1880be" class="gradeblock blue"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9324107147d4290e1_chemistry.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">CHEMISTRY</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-292101991e1f-ca1880be" class="gradeblock blue"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e2026b6101da11f44f9a8_math.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">MATH</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-292101991e23-ca1880be" class="gradeblock blue"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9885c4b02cc8390a5_physics.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">PHYSICS</div>
                        </div>
                        </a>
                    </div>
                </div>
                <div data-w-tab="Tab 3" class="w-tab-pane" id="grade9" role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-2">
                    <div class="div-block-16">
                        <a href="/subject"><div id="w-node-5fd0fe5360e4-ca1880be" class="gradeblock red"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9349d4ef044db43b3_biology.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">BIOLOGY</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-5fd0fe5360e8-ca1880be" class="gradeblock red"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9324107147d4290e1_chemistry.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">CHEMISTRY</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-5fd0fe5360ec-ca1880be" class="gradeblock red"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e2026b6101da11f44f9a8_math.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">MATH</div>
                        </div>
                        </a><a href="/subject"><div id="w-node-5fd0fe5360f0-ca1880be" class="gradeblock red"><img
                                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9885c4b02cc8390a5_physics.png"
                                loading="lazy" width="129" alt="" class="image-6">
                            <div class="text-block-85">PHYSICS</div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="margint60 nontabsection">
    <div class="standard-container">
        <h1 class="newheading">Grade 7</h1>
        <div class="div-block-16">
            <a href="/subject"><div id="w-node-84242eeaaaaa-ca1880be" class="gradeblock yellow"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9349d4ef044db43b3_biology.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">BIOLOGY</div>
            </div>
            </a><a href="/subject"><div id="w-node-84242eeaaaae-ca1880be" class="gradeblock yellow"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9324107147d4290e1_chemistry.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">CHEMISTRY</div>
            </div>
            </a><a href="/subject"><div id="w-node-84242eeaaab2-ca1880be" class="gradeblock yellow"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e2026b6101da11f44f9a8_math.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">MATH</div>
            </div>
            </a><a href="/subject"><div id="w-node-84242eeaaab6-ca1880be" class="gradeblock yellow"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9885c4b02cc8390a5_physics.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">PHYSICS</div>
            </div>
            </a>
        </div>
    </div>
    <div class="standard-container">
        <h1 class="newheading">Grade 8</h1>
        <div class="div-block-16">
            <a href="/subject"><div id="w-node-e2554cf068d2-ca1880be" class="gradeblock blue"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9349d4ef044db43b3_biology.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">BIOLOGY</div>
            </div>
            </a><a href="/subject"><div id="w-node-e2554cf068d6-ca1880be" class="gradeblock blue"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9324107147d4290e1_chemistry.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">CHEMISTRY</div>
            </div>
            </a><a href="/subject"><div id="w-node-e2554cf068da-ca1880be" class="gradeblock blue"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e2026b6101da11f44f9a8_math.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">MATH</div>
            </div>
            </a><a href="/subject"><div id="w-node-e2554cf068de-ca1880be" class="gradeblock blue"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9885c4b02cc8390a5_physics.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">PHYSICS</div>
            </div>
            </a>
        </div>
    </div>
    <div class="standard-container">
        <h1 class="newheading">Grade 9</h1>
        <div class="div-block-16">
           <a href="/subject"><div id="w-node-67fe3cd9c3a0-ca1880be" class="gradeblock red"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9349d4ef044db43b3_biology.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">BIOLOGY</div>
            </div>
            </a><a href="/subject"><div id="w-node-67fe3cd9c3a4-ca1880be" class="gradeblock red"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9324107147d4290e1_chemistry.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">CHEMISTRY</div>
            </div>
            </a><a href="/subject"><div id="w-node-67fe3cd9c3a8-ca1880be" class="gradeblock red"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e2026b6101da11f44f9a8_math.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">MATH</div>
            </div>
            </a><a href="/subject"><div id="w-node-67fe3cd9c3ac-ca1880be" class="gradeblock red"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e1fd9885c4b02cc8390a5_physics.png"
                    loading="lazy" width="129" alt="" class="image-6">
                <div class="text-block-85">PHYSICS</div>
            </div>
        </div>
    </div>
</div>

<div class="bottomspace"></div>


<script>
    function openCity(evt, gradeName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("w-tab-pane");
        for (i = 0; i < tabcontent.length; i++) {
            // tabcontent[i].style.display = "none";
            // tabcontent[i].style.opacity = "0";
            // tabcontent[i].style.transition = "";
            tabcontent[i].className = "w-tab-pane" 
            // document.getElementById(gradeName).style.transition = 
        }
        tablinks = document.getElementsByClassName("tab-link-tab-3");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w--current", "");
        }
        document.getElementById(gradeName).className = "w-tab-pane w--tab-active";
        // document.getElementById(gradeName).style.transition = "opacity 1s";
        // document.getElementById(gradeName).style.opacity = "1";
        // document.getElementById(gradeName).style.display = "block";
        
        evt.currentTarget.className += " w--current";
    }
</script>
{% endblock %}
