{% extends 'layout.html' %}

{% block body %}
<div class="margint60"><div class="standard-container"><div class="headerdiv homepage"><img src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy.jpg" loading="lazy" sizes="90vw" srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8e02c6fb741f21ada3419c_factory%20-%20Copy.jpg 1600w" alt="" class="headerimage homepage"><h1 class="headertext homepage">Learning by Doing</h1></div></div></div>
<!-- <div class="margint60">
    <div class="standard-container">
        <div class="productlisttitle">
            <h1 class="productlistheader homepage">Browse Grades</h1>
        </div>
        <div class="productgrid">

            <div class="productitem">
                <a href="#"><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21.jpg"
                        loading="lazy"
                        sizes="(max-width: 479px) 43vw, (max-width: 767px) 29vw, (max-width: 991px) 21vw, 22vw"
                        srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21.jpg 1600w"
                        alt="" class="productimage homepage"> </a>
                <div class="producttext">ថ្នាក់ទី&nbsp;៧</div>
                <div class="populartext">Grade 7</div>
            </div>

            <div class="productitem"> <a href="#"><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e1d3ab467da_blue.jpg"
                        loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">ថ្នាក់ទី&nbsp;៨</div>
                <div class="populartext">Grade 8</div>
            </div>
            <div class="productitem"> <a href="#"><img
                        src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92eeb0fb467df_pink.jpg"
                        loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">ថ្នាក់ទី&nbsp;៩</div>
                <div class="populartext">Grade 9</div>
            </div>
        </div>
    </div>
</div> -->
<div class="margint60">
    <div class="standard-container">
        <div class="productlisttitle homepage">
            <h1 class="productlistheader">Subjects</h1><a href="#" class="morediv homepage w-inline-block"><img
                    src="https://uploads-ssl.webflow.com/5f898689a3995a6a7914c7b8/5f89c38fbbd8b91ef2841976_plus.svg"
                    loading="lazy" width="10" alt="" class="plusicon more">
                <div class="more">More</div>
            </a>
        </div>
        <div class="productgrid homepage">
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfeb5168d579036c46909_jungle.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">PHYSIC 09</div>
                <div class="populartext">រូបវិទ្យា</div>
            </div>
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f898689a3995a6a7914c7b8/5f89d28cb761059acf6d2b07_workspace.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">KLEMBOX</div>
                <div class="populartext">ជីវវិទ្យា</div>
            </div>
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfeb5168d571ac9c4690e_workplace1.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">CHEMISTRY 02</div>
                <div class="populartext">គីមីវិទ្យា</div>
            </div>
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfeb5168d57833dc46904_house.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">TECHNOLOGY 01</div>
                <div class="populartext">បច្ចេកវិទ្យា</div>
            </div>
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfeb5168d57833dc46904_house.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">MATH 130</div>
                <div class="populartext">គណិតវិទ្យា</div>
            </div>
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfeb5168d57833dc46904_house.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">TECHNOLOGY 01</div>
                <div class="populartext">បច្ចេកវិទ្យា</div>
            </div>
        </div>
    </div>
</div>
<div class="margint60">
    <div class="standard-container">
        <div class="productlisttitle">
            <h1 class="productlistheader">Most Popular</h1><a href="#" class="morediv w-inline-block"><img
                    src="https://uploads-ssl.webflow.com/5f898689a3995a6a7914c7b8/5f89c38fbbd8b91ef2841976_plus.svg"
                    loading="lazy" width="10" alt="" class="plusicon">
                <div class="more">More</div>
            </a>
        </div>
        <div class="productgrid">
            <div class="productitem boxstyle"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfebb88ac4afddc21e0e0_personchar.jpg"
                    loading="lazy" alt="" class="productimage boxstyle"></a>
                <div class="producttext boxstyle">PHYSIC 09</div>
                <div class="populartext boxstyle">Car At The Beach</div></a>
            </div>
            <div class="productitem boxstyle"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfebb88ac4a4ab421e0e5_workout.jpg"
                    loading="lazy" alt="" class="productimage boxstyle"></a>
                <div class="producttext boxstyle">PHYSIC 09</div>
                <div class="populartext boxstyle">Car At The Beach</div>
            </div>
            <div class="productitem boxstyle"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e72d2b467e2_cryto.jpg"
                    loading="lazy"
                    sizes="(max-width: 479px) 53vw, (max-width: 767px) 29vw, (max-width: 991px) 21vw, 22vw"
                    srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e72d2b467e2_cryto-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e72d2b467e2_cryto-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e72d2b467e2_cryto.jpg 1600w"
                    alt="" class="productimage boxstyle"></a>
                <div class="producttext boxstyle">PHYSIC 09</div>
                <div class="populartext boxstyle">Car At The Beach</div>
            </div>
        </div>
    </div>
</div>
<div class="margint60">
    <div class="standard-container">
        <div class="productlisttitle">
            <h1 class="productlistheader">New</h1><a href="#" class="morediv w-inline-block"><img
                    src="https://uploads-ssl.webflow.com/5f898689a3995a6a7914c7b8/5f89c38fbbd8b91ef2841976_plus.svg"
                    loading="lazy" width="10" alt="" class="plusicon">
                <div class="more">More</div>
            </a>
        </div>
        <div class="productgrid">
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfec46680e7592300f433_junglegirl.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">PHYSIC 09</div>
                <div class="populartext">Car At The Beach</div>
            </div>
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f898689a3995a6a7914c7b8/5f89d28d6f7d694e705b7dae_workplace1.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">KLEMBOX</div>
                <div class="populartext">Happy Blue</div>
            </div>
            <div class="productitem"><a href="#"><img
                    src="https://uploads-ssl.webflow.com/5f898689a3995a6a7914c7b8/5f89b8c549976fbdc7b518a8_8.21.jpg"
                    loading="lazy" alt="" class="productimage"></a>
                <div class="producttext">CHEMISTRY 02</div>
                <div class="populartext">Cheering Pink</div>
            </div>
            <div class="productitem"><a href="#"></a><img
                    src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfec46680e7eea900f42e_cartoon.jpg"
                    loading="lazy"
                    sizes="(max-width: 479px) 65vw, (max-width: 767px) 29vw, (max-width: 991px) 21vw, 22vw"
                    srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfec46680e7eea900f42e_cartoon-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfec46680e7eea900f42e_cartoon-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfec46680e7eea900f42e_cartoon.jpg 1596w"
                    alt="" class="productimage">
                <div class="producttext">TECHNOLOGY 01</div>
                <div class="populartext">White Building</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}