{% extends 'layout.html' %}

{% block body %}
    <div class="content" >
        <div class="content-wrapper _1" style="font-weight: normal;
        --primary: #272787;
        --secondary: #ffae41;
        --title: #FF8816;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #272787;
        box-sizing: border-box;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        flex: 0 auto;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        align-self: center;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        width: 80%;
        margin: 40px auto;">
            <h1 class="heading big" style="    width: auto;
            margin-bottom: 30px;
            font-size: 36px;
            line-height: 40px;">Exploring Ideas Through<span class="amarelo">Making, Play and</span>.</h1>
            <div class="text-block hero" style="font-weight: normal;
            --primary: #272787;
            --secondary: #ffae41;
            --title: #FF8816;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            -webkit-box-direction: normal;
            box-sizing: border-box;
            font-size: 16px;
            color: #fff;
            width: auto;
            margin-bottom: 0px;
            line-height: 24px;"><strong>AFFORDABLE EDUCATIONAL STEM RESOURCES FOR EVERY CLASSROOM</strong><br>
            </div><a href="/selecting-kit" class="btn big w-inline-block">
              <div class="btn-txt big">SHOP&nbsp;NOW</div>
            </a>
          </div>
        <br>
        <div class="card">
            <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">Klem Box Kit</div>
        </div>
        <br>
        <div style="position: relative; ">
        <div class="splide" id="schoolkit" style="position: relative; left: 5%;right: 2%;  ">
            
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="div-block-3">
                            <div class="w-layout-grid grid-2"><img
                                    src="https://uploads-ssl.webflow.com/5f68557ffc317a50d203767d/5f6ae261b1958c1553755fd8_Here%27s%20to%20Friendship!%20(4).svg"
                                    loading="lazy" alt="">
                                <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">Kit អគ្គីសនី</div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide"><div class="div-block-3">
                        <div class="w-layout-grid grid-2"><img
                                src="https://uploads-ssl.webflow.com/5f68557ffc317a50d203767d/5f69d23b1ffefabd85629147_Here%27s%20to%20Friendship!%20(1).svg"
                                loading="lazy" alt="">
                            <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">Kit មីក្រូទស្សន៍</div>
                        </div>
                    </div>
                    </li>
                    <li class="splide__slide"><div class="div-block-3">
                        <div class="w-layout-grid grid-2"><img
                                src="https://uploads-ssl.webflow.com/5f68557ffc317a50d203767d/5f69d7cb6a7c1166431f8f03_Here%27s%20to%20Friendship!%20(3).svg"
                                loading="lazy" alt="">
                            <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">Kit ដំណាំទឹក</div>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card">
            <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">Grade 7 - 9</div>
        </div>
        <br>
         </div>
         <div style="position: relative;">
        <div class="splide" id="kitbox"  style="position: relative; left: 5%;right: 2%;  ">
            
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a href="{{ url_for('grade')}}">
                        <div class="div-block-3">
                            <div class="w-layout-grid grid-2"><img
                                    src="https://uploads-ssl.webflow.com/5f73110a4d025d3725108001/5f73198653ac27e0404d87bd_grade7.jpg"
                                    loading="lazy" alt="">
                                <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">ថ្នាក់ទី ៧</div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="splide__slide"><div class="div-block-3">
                        <div class="w-layout-grid grid-2"><img
                                src="https://uploads-ssl.webflow.com/5f73110a4d025d3725108001/5f732536d655fd3dae91adeb_grade8.jpg"
                                loading="lazy" alt="">
                            <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">ថ្នាក់ទី ៨</div>
                        </div>
                    </div>
                    </li>
                    <li class="splide__slide"><div class="div-block-3">
                        <div class="w-layout-grid grid-2"><img
                                src="https://uploads-ssl.webflow.com/5f73110a4d025d3725108001/5f73254d3364d383baec8fb2_grade9.jpg"
                                loading="lazy" alt="">
                            <div id="w-node-eb1e34d42c9f-57107fe2" class="text-block-8">ថ្នាក់ទី ៩</div>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        </div>




<script src="{{ url_for('static', filename='js/splide.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#schoolkit', {
            type: 'loop',
            width: '90%',
            focus: 'center',
            autoplay: true,
            interval: 5000
        }).mount();

        new Splide('#kitbox', {
            type: 'loop',
            width: '90%',
            focus: 'center',
            autoplay: true,
            interval: 5000
        }).mount();


    });
</script>
{% endblock %}