{% extends 'layout.html' %}

{% block body %}

<div class="content">

    {% for item in data %}
    <div class="section">
        <h2 class="section-title">ជំពូក ៖​ {{ item.name}} </h2>
        <div class="collection-list-wrapper w-dyn-list">
            <div role="list" class="w-dyn-items">
                {% for lesson in item.lessons %}
                <div role="listitem" class="w-dyn-item">
                    <div class="card assignment">
                        <div class="assignment-date"><img
                                src="https://uploads-ssl.webflow.com/5f731109d7cb3261e53fd2eb/5f736cd50a3c2001f13c471a_video.svg"
                                alt="" class="calendar-icon">
                            <div class="date">មេរៀនទី {{ lesson.lesson_num }}</div>
                        </div><a href="{{ url_for('lesson',subject_name=name,lesson_id=lesson.id)}}" class="assignment-details w-inline-block">
                            <h3 class="card-title">{{ lesson.name }}</h3>
                            <div style="width: 100%;">{{ lesson.short_description}}</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
     
</div>

{% endblock %}