{% extends 'layout.html' %}

{% block body %}
<div class="margint60">
    <div class="_10container">
        <h2 class="heading-5">Grade 8</h2>
        <h1 class="heading-6">Physics</h1>
        <div class="div-block-19">
            <div class="div-block-20">
                <h1 class="heading-7">រូបវិទ្យា</h1>
                <div class="text-block-86">This is some text inside of a div block.</div>
            </div>
        </div>
    </div>
</div>
<div class="margint60">
    <div class="div-block-21">
        <div class="div-block-22">
            <div class="div-block-23">
                <div class="text-block-87">SIZE:&nbsp;<span class="text-span">15 people</span></div>
            </div>
            <div class="div-block-23">
                <div class="text-block-87">TIME:&nbsp;<span class="text-span">1 hours</span></div>
            </div>
            <div class="div-block-23">
                <div class="text-block-87">GRADE:&nbsp;<span class="text-span">08</span></div>
            </div>
            <div class="div-block-23">
                <div class="text-block-87">LEVEL:&nbsp;<span class="text-span">DIFFICULT</span></div>
            </div>
            <div class="div-block-23">
                <div class="text-block-87">SIZE:&nbsp;<span class="text-span">15 people</span></div>
            </div>
            <div class="div-block-23">
                <div class="text-block-87">SIZE:&nbsp;<span class="text-span">15 people</span></div>
            </div>
        </div>
    </div>
</div>
<div class="margint60">
    <div class="_10container">
        <h1 class="chaptertitle">ជំពូកទី១</h1>
        
        <a href="/lesson"><div class="lessonblock"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfec46680e7592300f433_junglegirl.jpg"
                loading="lazy" width="237" alt="" class="image-8">
            <div class="div-block-25">
                <div class="div-block-26">
                    <div class="text-block-89">មេរៀនទី១<span class="text-span"></span></div>
                </div>
                <h4 class="heading-9">អគ្គិសនី</h4>
                <div class="text-block-90">អ្វីដែលចាប់ផ្ដើមតែងតែមានការបញ្ចប់</div>
            </div>
        </div>
        </a><a href="/lesson"><div class="lessonblock"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21.jpg"
                loading="lazy" width="237"
                sizes="(max-width: 479px) 80px, (max-width: 767px) 160px, 236.9965362548828px"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e7b17b467d5_8.21.jpg 1600w"
                alt="" class="image-8">
            <div class="div-block-25">
                <div class="div-block-26">
                    <div class="text-block-89">មេរៀនទី២<span class="text-span"></span></div>
                </div>
                <h4 class="heading-9">អគ្គិសនី</h4>
                <div class="text-block-90">អ្វីដែលចាប់ផ្ដើមតែងតែមានការបញ្ចប់</div>
            </div>
        </div>
    </a>
        <h1 class="chaptertitle">ជំពូកទី&nbsp;២</h1>
       <a href="/lesson"><div class="lessonblock"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfeb5168d57833dc46904_house.jpg"
                loading="lazy" width="237" alt="" class="image-8">
            <div class="div-block-25">
                <div class="div-block-26">
                    <div class="text-block-89">មេរៀនទី៣<span class="text-span"></span></div>
                </div>
                <h4 class="heading-9">អគ្គិសនី</h4>
                <div class="text-block-90">អ្វីដែលចាប់ផ្ដើមតែងតែមានការបញ្ចប់</div>
            </div>
        </div>
        </a><a href="/lesson"><div class="lessonblock"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfeb5168d571ac9c4690e_workplace1.jpg"
                loading="lazy" width="237" alt="" class="image-8">
            <div class="div-block-25">
                <div class="div-block-26">
                    <div class="text-block-89">មេរៀនទី៤<span class="text-span"></span></div>
                </div>
                <h4 class="heading-9">អគ្គិសនី</h4>
                <div class="text-block-90">អ្វីដែលចាប់ផ្ដើមតែងតែមានការបញ្ចប់</div>
            </div>
        </div>
        </a>
        <h1 class="chaptertitle">ជំពូកទី&nbsp;៤</h1>
       <a href="/lesson"><div class="lessonblock"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfebb88ac4a8e3b21e0e8_factory.jpg"
                loading="lazy" width="237"
                sizes="(max-width: 479px) 80px, (max-width: 767px) 160px, 236.9965362548828px"
                srcset="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfebb88ac4a8e3b21e0e8_factory-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfebb88ac4a8e3b21e0e8_factory.jpg 1600w"
                alt="" class="image-8">
            <div class="div-block-25">
                <div class="div-block-26">
                    <div class="text-block-89">មេរៀនទី៥<span class="text-span"></span></div>
                </div>
                <h4 class="heading-9">អគ្គិសនី</h4>
                <div class="text-block-90">អ្វីដែលចាប់ផ្ដើមតែងតែមានការបញ្ចប់</div>
            </div>
        </div>
        </a><a href="/lesson"><div class="lessonblock"><img
                src="https://uploads-ssl.webflow.com/5f8dfd84d751ba4b176eac9e/5f8dfea4d6f92e1d3ab467da_blue.jpg"
                loading="lazy" width="237" alt="" class="image-8">
            <div class="div-block-25">
                <div class="div-block-26">
                    <div class="text-block-89">មេរៀនទី៦<span class="text-span"></span></div>
                </div>
                <h4 class="heading-9">អគ្គិសនី</h4>
                <div class="text-block-90">អ្វីដែលចាប់ផ្ដើមតែងតែមានការបញ្ចប់</div>
            </div>
        </div>
        </a>
    </div>
</div>
{% endblock %}